.box{
	width: 100px;
	height: 100px;
}
.yellow{
	background-color: yellow;
}
.red{
	background-color: red;
	margin-top: 50px;
	margin-left: 50px;
	padding: 50px;
}


.frame{
	width: 500px;
	height: 320px;
}